* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  background-image: url(./images/blizzard-background-lg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 140px;
  margin: 30px auto;
  width: 344px;
}

.form {
  background-color: #23262e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 50px 30px;
  width: 550px;
}

h1 {
  color: #fff;
  text-align: center;
}

.alt-reg, .full-name, .pronouns, .birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {

}

.divider {
  clear: both;
  /* display: block; */
  text-align: center;
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 20px 0;
}

.divider span {
  color: rgba(255,255,255,.3);
  display: inline-block;
  font-size: 13px;
  position: relative;
}

.divider span:before {
  background-color: rgba(255,255,255,.1);
  content: "";
  height: 1px;
  margin-right: 20px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 300px;
}

.divider span:after {
  background-color: rgba(255,255,255,.1);
  content: "";
  height: 1px;
  left: 100%;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  width: 300px;
}

.field {
  margin: auto;
  padding: 5px 0;
  width: 100%;
}

.login {
  padding: 10px 0;
}

input, select {
  background-color: #101115;
  border: 1px solid #595a5c;
  color: #b8B8ba;
  font-size: 15px;
  height: 34px;
  line-height: 20px;
  padding: 0 10px;
  width: 100%;
}

select {
  color: #595a5c;
}

input[type="radio"], input[type="checkbox"] {
  height: auto;
  margin-right: 5px;
  width: auto;
}

label {
  color: #b8B8ba;
}

option[value=""][disabled] {
  display: none;
}

::-webkit-input-placeholder {
  color: #595a5c;
}

:-ms-input-placeholder {
  color: #595a5c;
}

::-ms-input-placeholder {
  color: #595a5c;
}

::placeholder {
  color: #595a5c;
}


/* Select element styling */

/* select:required:invalid {
  color: gray;
} */

/* option {
  color: black;
} */

button {
  background-color: #0e86ca;
  border: 1px solid #10a1de;
}

.button {
  background-color: #111319;
  border: 1px solid #0d639f;
}


}
