* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
  background-image: url(./images/blizzard-background-lg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
}

a {
  color: rgb(0, 174, 255);
  text-decoration: none;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.header .logo {
  height: 140px;
  margin: 30px auto;
  width: 344px;
}

.form {
  background-color: rgba(29,34,44,.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 70px 40px;
  width: 550px;
}

h1 {
  color: #fff;
  font-weight: 300;
  padding-bottom: 30px;
  text-align: center;
}

.alt-reg, .full-name, .pronouns, .birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alt-reg-button {
  width: 50%;
}

.alt-reg-button:first-child {
  padding-right: 5px;
}

.button {
  color: #fff;
  display: inline-block;
  height: 34px;
  line-height: 2rem;
  padding: 7px 0;
  width: 230px;
}

.facebook, .google {
  background-color: rgb(0, 92, 153);
  border: 1px solid rgb(14, 134, 202);
  position: relative;
}

.facebook span, .google span {
  position: absolute;
  left: 100px;
}

.facebook span:before, .google span:before {
  display: inline-block;
  content: "";
  height: 24px;
  left: -40px;
  position: absolute;
  top: -2px;
  width: 24px;
}

.facebook span:before {
  background: url(./images/icon-facebook.png) no-repeat;
}

.google span:before {
  background: url(./images/icon-google.png) no-repeat;
}

.divider {
  clear: both;
  /* display: block; */
  text-align: center;
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 20px 0;
}

.divider span {
  color: rgba(255,255,255,.3);
  display: inline-block;
  font-size: 13px;
  position: relative;
}

.divider span:before {
  background-color: rgba(255,255,255,.1);
  content: "";
  height: 1px;
  margin-right: 20px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 300px;
}

.divider span:after {
  background-color: rgba(255,255,255,.1);
  content: "";
  height: 1px;
  left: 100%;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  width: 300px;
}

.intro-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.intro-text p {
  margin-bottom: 10px;
}

.field {
  margin: auto;
  padding: 5px 0;
  width: 100%;
}

.field em {
  color: rgba(255,255,255,0.4);
  font-size: 1.2rem;
}

.full-name .field, .birthday .field {
  padding-right: 5px;
}

.full-name .field:last-child, .birthday .field:last-child {
  padding-right: 0;
}

.pronouns, .login-info {
  padding: 10px 0;
}

input, select {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #595a5c;
  color: rgba(255,255,255,0.7);
  font-size: 15px;
  height: 34px;
  line-height: 2rem;
  width: 100%;
}

input {
  padding: 0 10px;
}

select {
  color: #595a5c;
  padding: 0 6px;
}

label, option {
  color: rgba(255,255,255,0.7);
}

option {
  background-color: rgba(29,34,44,.95);
}

option[value=""][disabled] {
  display: none;
}

::-webkit-input-placeholder {
  color: #595a5c;
}

:-ms-input-placeholder {
  color: #595a5c;
}

::-ms-input-placeholder {
  color: #595a5c;
}

::placeholder {
  color: #595a5c;
}

input:focus, select:focus {
  border: 1px solid #0074c2;
  outline: none;
}

input:hover {
  border-color: rgba(255,255,255,0.7);
}

.pronouns {
  padding-left: 40px;
}

.pronouns .field {
  padding-left: 25px;
}

.privacy-news {
  margin: 15px 0 20px;
}

.privacy-news .field {
  line-height: 2rem;
  padding-left: 25px;
}

.privacy-news .field, .pronouns .field {
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.privacy-news .field input, .pronouns .field input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkmark {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #595a5c;
  border-radius: 2px;
  color: rgba(255,255,255,0.7);
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.pronouns .checkmark {
  border-radius: 50%;
}

.field:hover input ~ .checkmark {
    border-color: rgba(255,255,255,0.7);
}

input:checked ~ .checkmark {
    border-color: rgba(0, 174, 255, 0.8);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked ~ .checkmark:after {
    display: block;
}

.privacy-news .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid rgba(0, 174, 255, 0.8);
  border-width: 0 2.5px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pronouns .checkmark:after {
  background-color: rgba(0, 174, 255, 0.8);
 	top: 4.5px;
	left: 3.5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

/* select:required:invalid {
  color: gray;
} */

button {
  background-color: rgb(0, 174, 255);
  border: 1px solid rgb(16, 161, 222);
  color: #fff;
  font-size: 1.4rem;
  height: 34px;
  text-align: center;
  width: 100%;
}

.login {
  background-color: rgba(0, 0, 0, 0.4);
  color: #00aeff;
  border: 1px solid rgb(0, 174, 255);
  line-height: 2rem;
  padding: 7px 0;
  text-align: center;
  width: 100%;
}

.agreement {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-top: 40px;
}

.footer .logo {
  height: 166px;
  margin: 0 auto;
  width: 166px;
}

.footer img {
  width: 100%;
}

.nav {
  text-align: center;
}

.nav li {
  border-right: 1px solid #595a5c;
  display: inline;
  padding: 0 15px;
  text-transform: uppercase;
}
